---
import Layout from "../layouts/Layout.astro";
import SidebarLeft from "../components/SidebarLeft.astro";
import SidebarRight from "../components/SidebarRight.astro";
import PostGrid from "../components/PostGrid.astro";
import { fetchSiteData } from "../data/fetcher";
import { mockData } from "../data/mock";
import { siteConfig } from "../site.config";

const initialData = await fetchSiteData();
const siteData = initialData.error ? mockData : initialData;

const siteFavicon = siteConfig.site.favicon;
const siteLogo = siteConfig.site.logo.light;
const pageTitle = `${siteConfig.site.name} - ${siteConfig.site.slogan}`;
---

<Layout
  title={pageTitle}
  url="/"
  type="website"
  favicon={siteFavicon}
  icon={siteFavicon}
  logo={siteLogo}
  categories={siteData?.categories || []}
>
  <main class="main-layout">
    <aside class="sidebar-left">
      <SidebarLeft categories={siteData?.categories || []} />
    </aside>
    <section class="content-area">
      <PostGrid posts={siteData?.posts || []} />
    </section>
    <aside class="sidebar-right">
      <SidebarRight 
        hotPosts={siteData?.hotPosts || []} 
        tags={siteData?.tags || []} 
      />
    </aside>
  </main>
</Layout>